<button class="btn"><ion-icon class="icon"  name="document"></ion-icon></button>
<button class="btn"> <ion-icon class="icon" name="notifications"></ion-icon></button>
<button class="btn"><ion-icon class="icon" (click)="onMapClearAllBtnClick($event)"  name="refresh"></ion-icon></button>
<button class="btn"><ion-icon class="icon" (click)="onMapGobackBtnClick($event)"  name="globe"></ion-icon></button>
<button (click)="onMapTypeBtnClick($event)" class="btn text"><p class="icon">{{mapTypeBtnText}}</p></button>
