.img-gallery {
  .title {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 20px;
  }
}

.quado-img-wrapper {
  position: relative;
}

.quado-img-parameters {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
