<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      我的地图
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSearchBtnClick($event)">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div slot="fixed"  class="map-container" #mapViewNode></div>

  <ion-fab
    style="margin-bottom:10px"
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-fab-button
      (click)="onAddResourceClick($event)"
      color="danger"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <map-tools slot="fixed"></map-tools>

  <map-search-result slot="fixed"></map-search-result>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed"> -->
  <!-- </ion-fab> -->
</ion-content>
