/* import the required JSAPI css */
/* @import url('assets/esri/4.10/esri/css/main.css'); */

.esri-view {
  /* height: 50%; */
}




.esri-view .esri-view-surface--inset-outline:focus::after{
  outline: none
}


.map-container{
  /* height: 100%; */
  /* width: 100%; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.map-tool-container{
  position: fixed;
  top: 100px;
  right: 4vw;
  overflow: hidden;

}