<!-- <ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content forceOverscroll="true">
  <div slot="fixed" class="content">
    <div class="top-area">
      <img class="logo" src="assets/images/logo.png" /><span class="title"
        >掌上河湖</span
      >
    </div>
    <div class="login-form">
      <ion-input
        class="login-item"
        type="text"
        [ngModel]="username"
        placeholder="请输入账号"
        #usernameNode
      ></ion-input>

      <ion-input
        class="login-item"
        type="password"
        [ngModel]="password"
        placeholder="请输入密码"
        #passwordNode
      ></ion-input>
    </div>

    <div class="login-area">
      <ion-button
        shape="round"
        color="danger"
        (click)="onLoginBtnClick(usernameNode, passwordNode)"
        expand="block"
        >登录</ion-button
      >
    </div>
    <div class="config-area">
      <ion-button  (click)="onConfigBtnClick($event)" color="light" fill="clear">设置</ion-button>
    </div>
  </div>
</ion-content>
