<ion-card>
  <ion-card-header  (click)="toggleAccordion()">
    <!-- <div class="card-header">
      <span class="title"> {{ title }}</span>
      <span class="end">
        <ion-icon [name]="icon"></ion-icon>
      </span>
    </div> -->
    <ion-list>
      <ion-item class="title" color="primary">
        {{ title }}
        <span slot="end">
          <ion-icon [name]="icon"></ion-icon>
        </span>
      </ion-item>
    </ion-list>
  </ion-card-header>
  <ion-card-content #cc>
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>
