<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      我的信息
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label
        ><h3>名称</h3>
        <p>E-mail:****</p>

        <p>角色:****</p>
        <p>创建时间:****</p>
        <p>最近登录时间:****</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
